.Hero-Container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height:100vh;

    .Hero{
        scroll-snap-align: start;
        scroll-snap-stop: always;
        height:100vh;
    }
}
